@tailwind base;
@tailwind components;
@tailwind utilities;
/* Apply Tajawal font globally */
html {
  font-family: var(--my-font-family), sans-serif;
}
body {
  /* Ensure this matches the imported font */
  font-family: var(--my-font-family), sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center; /* Change this based on your layout needs */
}
.custom-font {
  font-family: var(--my-font-family), sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--my-font-family), sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
